.lsb-status-widget-holder {
}

.lsb-status-widget-holder ul {
    list-style-type: none;
}

.lsb-status-widget-list-item {
}

.lsb-status-widget-list-item.lsb-on {
}

.lsb-status-widget-list-item.lsb-off {
}

.lsb-status-widget-title {
}

/* Images in stream title (via shortcode) */
.lsb-status-widget-title img {
    margin: 3px; /* Make some space between image and text in title */
    vertical-align: middle;
}

.lsb-status-widget-indicator {
    float: right;
}

.lsb-status-widget-indicator.lsb-on {
}

.lsb-status-widget-indicator.lsb-off {
}

.lsb-status-widget-image, .lsb-status-widget-image > a {
    width: 100%;
}

.lsb-status-widget-image img {
    max-width: 100%;
}

/* Embedded view */

.lsb-embedded-view object {
    max-width: 100%;
}

.lsb-embedded-chat iframe {
    max-width: 100%;
}