.lsb-status-widget-holder {
}

.lsb-status-widget-holder ul {
    list-style-type: none;
}

.lsb-status-widget-holder ul li img {
    margin: 3px; /* Make some space between image and text in title */
    vertical-align: middle;
}

.lsb-status-widget-indicator {
    float: right;
}

/* Embedded view */

.lsb-embedded-view object {
    max-width: 100%;
}

.lsb-embedded-chat iframe {
    max-width: 100%;
}